.details-container {
  width: 88%;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 90%;
}

.details-title {
  font-size: 32px;
  color: #34495e;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 2px solid #2c3e50;
  display: inline-block;
  padding-bottom: 10px;
}

.loading-message {
  text-align: center;
  font-size: 20px;
  color: #3498db;
  margin-top: 20px;
}

.not-found {
  color: #e74c3c;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.detail {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.8;
  color: #34495e;
  background-color: #f7f9f9;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* النصوص الهامة */
.detail-label {
  font-weight: bold;
  color: #2980b9;
}

.photo {
  width: 100%;
  height: 250px;



  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .details-container {
    width: 95%;
    padding: 15px;
  }

  .details-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .loading-message,
  .not-found {
    font-size: 16px; 
    margin-top: 10px;  }

  .detail {
    font-size: 14px; 
    margin-bottom: 10px;
        padding: 8px 12px;
  }

  .photo {
    width: 100%; 
    height: auto; 
    margin-top: 10px; 
  }
}
