.navbar {
  background-color: #2c3e50;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  margin: 0 auto;
  max-width: 1200px; 
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c3e50; 
  display: block;
  width: 50%;
  background-color: #ecf0f1;
  padding: 0.5rem 1rem;
  border-radius: 5px; 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
}

.navbar-links {
  list-style: none;
  display: flex; 
  gap: 20px; 
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none; 
  color: #ecf0f1;font-size: 1.1rem; 
  font-weight: bold; padding: 0.5rem 1rem; 
  border-radius: 5px; 
  transition: all 0.3s ease;
}

.navbar-links li a:hover {
  background-color: #34495e; 
  color: #ffffff; 
  transform: scale(1.1); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}



@media screen and (max-width: 2000px) {
  .navbar-toggle {
    display: none; 
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 420px) {
  .navbar {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;    padding: 0;
  }

  .navbar-title {
    font-size: 1.5rem; margin: 9px;
  }

  .navbar-toggle {
    display: block; 
    font-size: 1.5rem;
    cursor: pointer; 
  }

  
  .navbar-links {
    display: none; flex-direction: column; 
    gap: 10px; 
    width: 100%;
    margin-top: 10px;
  }

 
  .navbar-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    background-color: #2c3e50;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1000;
    margin-top: 35px;
    border-radius: 9px;
    margin-left: 32px;
  }
}
